.container {
    border: 1px solid black;
    padding: 8px;
    border-radius: 16px;
    margin-top: 16px;
    margin-left: 16px;
}


.button {
    padding: 8px;
    margin-left: 16px;
    margin-bottom: 16px;
}

.inputField {
    padding: 8px;
    border-radius: 4px;
    margin: 4px;
}